<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Signals</title>
    <link rel="stylesheet" href="/static/uploads/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="/static/uploads/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="/static/uploads/css/styles.min.css">
</head>

<body>
    <!-- Start: Header Blue -->
    <div>
        <!-- Start: Header -->
        <div class="header-blue">
            <nav class="navbar navbar-light navbar-expand-md navigation-clean-search">
                <div class="container-fluid"><a class="navbar-brand" href="#">Signals and System Project - <em><span style="text-decoration: underline;">Group 31</span></em></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navcol-1">
                        <ul class="nav navbar-nav">
                            <li class="nav-item"></li>
                        </ul>
                        <form class="form-inline mr-auto" target="_self">
                            <div class="form-group"><label for="search-field"></label><input class="form-control search-field" type="search" id="search-field" name="search"></div>
                        </form><span class="navbar-text"> </span><a class="btn btn-light action-button" role="button" href="#">Check Code</a>
                    </div>
                </div>
            </nav>
            <div class="container hero">
                <div class="row">
                    <!-- Start: Text -->
                    <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                        <h1 id="ResultTitle"><strong>Search Results&nbsp;</strong><i class="fa fa-car"></i></h1>
                        <div class="table-responsive bg-info">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Category</th>
                                        <th>Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Name</td>
                                        <td>NITESH KUMAR</td>
                                    </tr>
                                    <tr>
                                        <td>Registration Date</td>
                                        <td>05-01-2016</td>
                                    </tr>
                                    <tr>
                                        <td>Model</td>
                                        <td>HYUNDAI I10</td>
                                    </tr>
                                    <tr>
                                        <td>Location</td>
                                        <td>AMRAVATI, ANDHRA PRADESH</td>
                                    </tr>
                                    <tr>
                                        <td>Validity</td>
                                        <td>01-04-2030</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- End: Text -->
                    <div class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder"><img class="img-thumbnail device" src="/static/uploads/img/003.png">
                        <h4 style="text-align: center;"><strong>&nbsp; &nbsp;NUMBER PLATE: AP09 BN 7886</strong></h4>
                    </div>
                </div>
            </div>
        </div><!-- End: Header -->
    </div><!-- End: Header Blue -->
    <script src="/static/uploads/js/jquery.min.js"></script>
    <script src="/static/uploads/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/uploads/js/script.min.js"></script>
</body>

</html>